body{
    background-color: black;
}


img {
  width: 300px;
  height: 200px;
  object-fit: cover; /* evita distorção */
}

@media screen and (max-width:990px) {
    #navbarNav{
        order: 1;
    }
}

a {
  color: inherit;      /* mesma cor do texto ao redor */
  transition: 0.2s ease;
}

a:hover {
  color: blue;         /* fica azul no hover */
  text-decoration: underline;
}

.btn {
  display: block;
  margin: 0 auto; /* centraliza */
}

