{% extends 'base.html' %}

{% block content %}
        
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Cadastre uma Nova Categoria
</button>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        {{ form.name.label(class='form-label') }}
                        {{ form.name(class='form-control', placeholder="Digite o nome da sua categoria") }}
                        <div>
                            {% for error in form.name.errors %}
                                <span class="text-danger d-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        {{ form.category_type.label(class='form-label') }}
                        {{ form.category_type(class='form-control') }}
                        <div>
                            {% for error in form.category_type.errors %}
                                <span class="text-danger d-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar Categoria</button>
                </div>
            </div>
        </div>
    </div>

</form>

<table class="table table-success table-striped-columns mt-4">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Category Type</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <th scope="row">{{ categoria.id }}</th>
            <td>{{ categoria.name }}</td>
            <td>{{ categoria.category_type.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if form.errors %}

<script>
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    myModal.show();
</script>

{% endif %}

{% endblock %}
