{% extends "base.html" %}


{% block title %}Cardápio Digital | Início {% endblock %}


{% block content %}

<h1 class="fw-bold" style="font-family: 'Playfair Display', serif; color: rgba(255, 255, 255, 0.801);">Início</h1>

<h1 class="text-center" style="color: darkkhaki;"> Bem-Vindo ao nosso Cardápio Digital.</h1>

<p class="text-center" style="color: darkkhaki;">Nossa loja fica localizada na <a
        href="https://maps.app.goo.gl/3nXSb1jAJUSX6w1Y6">Rua Indiária, 521 - Siqueira, Fortaleza - CE, 60736-030
        Brasil</a>. <br> E o nosso número para contato é <a href="tel:85985065421">(85) 985065421</a></p>


<!-- Modal -->
<form method="Post">
    {{ form.hidden_tag() }}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        {{ form.name.label(class='form-label') }}
                        {{ form.name(class='form-control', placeholder="Digíte Seu Nome") }}
                        <div>
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.email.label(class='form-label') }}
                        {{ form.email(class='form-control', placeholder="Digíte Seu Email") }}
                        <div>
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        {{ form.password.label(class='form-label') }}
                        {{ form.password(class='form-control',placeholder="Digite sua Senha") }}
                        <div>
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.telephone.label(class='form-label') }}
                        {{ form.telephone(class='form-control',placeholder="Digite seu telefone") }}
                        <div>
                            {% for error in form.telephone.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.address.label(class='form-label') }}
                        {{ form.address(class='form-control',placeholder="Digite seu Endereço") }}
                        <div>
                            {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
</form>

{% endblock %}