{% extends "base.html" %}


{% block title %}Cardápio Digital | Pizzas Metade Metade{% endblock %}


{% block content %}

<h1 class="fw-bold" style="font-family: 'Playfair Display', serif; color: rgba(255, 255, 255, 0.801);">Pizzas Metade Metade</h1>


<div class="container mt-5">
    <div class="row gy-3">
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card">
                <img src=""
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Metade Calabresa Metade Bacon</h5>
                    <p class="card-text">(molho de tomate, mussarela, calabresa, bacon, cebola, azeitona e orégano.)</p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    <span class="fw-bold text-success">R$ 29,99</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card" id="pizzaMussarela">
                <img src=""
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Metade Calabresa Metade Mussarela</h5>
                    <p class="card-text">(molho de tomate, mussarela, calabresa, tomate, azeitona e orégano.)</p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    <span class="fw-bold text-success">R$ 29,99</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
            <div class="card">
                <img src=""
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Metade Calabresa Metade Mista</h5>
                    <p class="card-text">(molho de tomate, mussarela, lanche, calabresa, tomate, cebola, azeitona e orégano.)</p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    <span class="fw-bold text-success">R$ 29,99</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Metade Calabresa Metade Frango</h5>
                    <p class="card-text">(molho de tomate, mussarela, Frango, calabresa, catupyri, tomate, azeitona e orégano.)</p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    <span class="fw-bold text-success">R$ 29,99</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza  Metade Calabresa Metade Portuguesa</h5>
                    <p class="card-text">(molho de tomate, mussarela, calabresa, lanche, ovo, pimentão, tomate, cebola,
                        azeitona e orégano.)</p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    <span class="fw-bold text-success">R$ 29,99</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Metade Calabresa Metade Paulista</h5>
                    <p class="card-text">(molho de tomate, mussarela, calabresa, lanche, Frango, bacon, catupyri, azeitona
                        e orégano.)</p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    <span class="fw-bold text-success">R$ 29,99</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Metade Calabresa Metade 2 Queijos</h5>
                    <p class="card-text">(molho de tomate, mussarela, calabresa, catupyri, azeitona e orégano.)</p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    <span class="fw-bold text-success">R$ 29,99</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pizza Metade Bacon Metade Mista</h5>
                    <p class="card-text">(molho de tomate, mussarela, calabresa bacon, cebola, azeitona e
                        orégano.)</p>
                    <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    <span class="fw-bold text-success">R$ 29,99</span>
                </div>
            </div>
        </div>
        {% endblock %}