<title>Cardápio Digital | Welcome </title>

{% block extra_css %}
<link rel="stylesheet" href="/static/welcome.css">
{% endblock %}


{% block content %}

<div class="welcome welcome-container">
    <h1>Bem-vindo ao Cardápio Digital!</h1>
    <p>Explore nosso cardápio
        e faça seus pedidos de forma rápida e
        fácil.</p>
</div>

<form method="POST" style="color: white;" action="/welcome">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.username.label }}
        {{ form.username() }}
        <div>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        {{ form.email.label }}
        {{ form.email() }}
        <div>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        {{ form.password.label }}
        {{ form.password() }}
        <div>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        {{ form.telephone.label }}
        {{ form.telephone() }}
        <div>
            {% for error in form.telephone.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        {{ form.address.label }}
        {{ form.address() }}
        <div>
            {% for error in form.address.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <button type="submit">Enviar</button>
</form>

{% endblock %}